@import "tailwindcss";

body {
  font-family: 'Nunito', sans-serif;   /* Clean & readable */
  background-color: #fff;             /* White background for clean look */
  color: black;                     /* Slightly softer than black */
  line-height: 1.7;
  font-size: 16px;
  padding: 0%;
  margin: 0;
}

/* Headings use Playfair Display */
h1  {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: #F18372;  /* Pink brand color */
  line-height: 1.3;
}
h2,h3,h4, h5, h6{
   font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: #93B45D;  /* Pink brand color */
  line-height: 1.3;
}

/* Links */
a {
  text-decoration: none;
  font-weight: 500;
  color: #F18372;   /* Pink */
  transition: color 0.3s ease;
}
a:hover {
  color: #c25747;   /* Green hover */
}

/* Buttons */
button {
  background-color: #F18372;   
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

}
button:hover {
  background-color: #f5624b;   /* Green hover */
}